body {
    background-color: black; /* Fond noir pour toute la page */
  }
  
  .CombienDeTemps {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  h1 {
    color: white; /* Couleur blanche pour le titre */
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to bottom, #ff6347, #ffa500); /* Dégradé de rouge à orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    margin: 10px;
    padding: 10px 30px; /* Ajustez la largeur du padding pour allonger les boutons */
    font-size: 16px;
    background: linear-gradient(to bottom, #ff6347, #ffa500); /* Dégradé de rouge à orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.back-button {
    margin: 5px; /* Marge réduite pour espacement */
    padding: 8px 30px; /* Ajustez la largeur du padding pour allonger le bouton de retour */
    font-size: 14px; /* Taille de police réduite */
    background: linear-gradient(to bottom, #4682b4, #1e90ff); /* Dégradé de bleu à bleu clair */
    color: #fff; /* Texte blanc */
    border: none;
    border-radius: 3px; /* Coins légèrement arrondis */
    cursor: pointer;
    transition: background 0.3s ease; /* Transition fluide lors du survol */
  }
  